<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    verbose="true"
    colors="true">

    <php>
        <!-- Set error reporting to E_ALL. -->
        <ini name="error_reporting" value="32767" />
        <!-- Do not limit the amount of memory tests take to run. -->
        <ini name="memory_limit" value="-1" />
        <!--
                @see \Sweetchuck\CacheBackend\ArangoDb\Test\Acceptance\ArangoDbCacheItemPoolTest::getConnectionOptions
            -->
        <!--<env name="ARANGODB_CACHE_OPTION_ENDPOINT"      value="" />-->
        <!--<env name="ARANGODB_CACHE_OPTION_AUTH_TYPE"     value="" />-->
        <!--<env name="ARANGODB_CACHE_OPTION_AUTHUSER"      value="" />-->
        <!--<env name="ARANGODB_CACHE_OPTION_AUTHPASSWD"    value="" />-->
        <!--<env name="ARANGODB_CACHE_OPTION_CONNECTION"    value="" />-->
        <!--<env name="ARANGODB_CACHE_OPTION_TIMEOUT"       value="" />-->
        <!--<env name="ARANGODB_CACHE_OPTION_RECONNECT"     value="" />-->
        <!--<env name="ARANGODB_CACHE_OPTION_UPDATE_POLICY" value="" />-->
        <!--<env name="ARANGODB_CACHE_OPTION_CREATE"        value="" />-->
        <!--<env name="ARANGODB_CACHE_OPTION_DATABASE"      value="" />-->
    </php>

    <testsuites>
        <testsuite name="Acceptance">
            <directory>tests/src/Acceptance/</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/src/Unit/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <testdoxHtml outputFile="reports/human/unit/junit.html" />
        <junit outputFile="reports/machine/unit/junit.xml" />
    </logging>

    <coverage processUncoveredFiles="true">
        <include>
            <directory>src/</directory>
        </include>
        <report>
            <clover outputFile="reports/machine/coverage/coverage.xml" />
            <html outputDirectory="reports/human/coverage/html" />
            <text outputFile="php://stdout" />
        </report>
    </coverage>
</phpunit>
